@model IEnumerable<DataStorage.Models.Vehicle>

@{
    ViewBag.Title = "Возила";
}

<h2>Возила</h2>

<h3>
    @Html.ActionLink("Create New", "Create")
</h3>

<table class="table" id="Vehicle">
    <thead>
        <tr>
            <th class="SerialNumber">Бр.</th>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="SerialNumber"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Vehicle").DataTable({
               /* searching: false, */

                "dom": '<"top"f>rt<"bottom"ilp><"clear">'
            });
        });

        /*
         * 
         DataTables Helper
         * 
         * 
         * l - Length changing
          f - Filtering input
          t - The Table!
          i - Information
          p - Pagination
          r - pRocessing
         < and > - div elements
         <"#id" and > - div with an id
         <"class" and > - div with a class
         <"#id.class" and > - div with an id and class  */

    </script>

}

<style>

    .SearchTextBox {
        border-radius: 5px;
    }

    body {
        counter-reset: Serial; /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial; /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }

    th, td {
        min-width: 150px;
        text-align: center;
    }

    .SerialNumber {
        min-width: 50px;
    }
</style>